    .request-button{
        background-color: black;
        color: white;
        height: 36px;
        width: 110px;
        border: none;
    }
    .add-button{
        background-color: rgb(255,216,20);
        color: black;
        border: none;
        height: 36px;
        width: 150px;
        border-radius: 18px;
    }
    .sign-button{
        background-color: rgb(46,164,79);
        color: white;
        border: none;
        font-weight: bold;
        height: 36px;
        width: 100px;
        border-radius: 5px;
    }